{% extends "account/base.html" %}
{% load i18n %}

{% block content %}
  <div class="alert alert-danger" role="alert">
    {% blocktrans trimmed %}
      Your activation link is invalid or has expired. You should contact an
      administrator to activate your account.
    {% endblocktrans %}
  </div>

  <div class="text-center">
    <a href="{% url "account:login" %}">{% trans "Sign in" %}</a>
  </div>
{% endblock %}
