{% extends "account/base.html" %}
{% load i18n tapeforms %}

{% block content %}
<form method="post" action="{% url "account:register" %}" novalidate>
  {% csrf_token %}
  {% form form %}

  <div class="row justify-content-between">
    <div class="col-sm-auto">
      <button type="submit" class="btn btn-primary btn-block">
        {% trans "Create" %}
      </button>
    </div>
    <div class="col-sm-auto">
      <a href="{% url "account:login" %}" class="btn btn-link btn-block">
        {% trans "Cancel" %}
      </a>
    </div>
  </div>
</form>
{% endblock %}
